---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  pageTitle?: string;
}

const navigationItems = [
  { name: t('nav.home'), url: `/${lang}` },
  { name: t('nav.credits'), url: `/${lang}/works/` },
];

const socialIcons = [
  {
    name: 'Instagram',
    url: 'https://www.instagram.com/pablofergus/',
    icon: 'fa fa-instagram',
  },
  {
    name: 'Twitter',
    url: 'https://www.twitter.com/pablofergus',
    icon: 'fa fa-twitter',
  },
  { name: 'eMail', url: 'mailto:pablofergus@gmail.com', icon: 'fa fa-at' },
];

const { pageTitle } = Astro.props;
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class='border-b-4 border-black flex justify-between p-6 items-center'>
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
  <a href='/'+{lang} title='Back to Home'>
    <p class='righteous md:text-5xl'>Pablo Fergus</p>
  </a>
  <nav class='hidden md:inline-block'>
    <h2 class='hidden'>{t('nav.navigation')}</h2>
    <ul class='flex gap-8 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <a
              class='text-lg font-medium hover:text-red hover:underline transition-all duration-150 ease-in-out'
              href={item.url}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      {
        socialIcons.map((item) => (
          <li>
            <a
              href={item.url}
              class='hover:text-red hover:underline transition-all duration-150 ease-in-out'
              target='_blank'
              title={`'See @pablofergus on ${item.name}`}
            >
              <div class:list={[item.icon, 'w-6 h-6']} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <nav class='md:hidden flex'>
    <h2 class='hidden'>{t('nav.mobilenav')}</h2>
    <ul>
      <li><a href='/works/'>Credits</a></li>
    </ul>
  </nav>
</header>
